@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@media (max-width: 479px)
{
.hero-title {
    margin-top: 0px !important;
    font-size: 36px !important;
}
}

.section.section-footer {
    background: url(../images/home/footerbg.jpg) no-repeat;
    /* background-color:#0E2C4B; */
    background-size: cover;
    background-position: bottom;
}
p.footer-text {
    color: #fff;
    opacity: 0.8;

}
.footer-link{
    opacity: 0.8;
    color: #fff;
}
.footer-logo-2 {
    margin-bottom: 10px;
}
.section.bgaccent-color {
    background-color: #186F95;
}
.navbg {
    /* background-image: linear-gradient(to top, #12545e, #46838b) !important; */
    background: #fff;
}
.nav-menu-2.w-nav-menu>a {
    color: black;
}
.nav-link.w--current {
    border-bottom: 2px solid black;
}
img.service-icon {
    height: 100px;
}
.service-sub-icon {
    border: 2px solid red;
    width: 33%;
}

/* nav */
img.nav-icon.home {
    position: absolute;
    height: 35px;
}
img.header_icon {
    height: 30px;
    /* text-align: center; */
    margin-left: 45px;
    /* margin-bottom: -14px; */
    margin-top: -30px;
    position: absolute;
    /* display: none; */
    /* transition: ease all 5s; */
    cursor:pointer;
}
img.firsticon{
    margin-left: 30px;
}

.nav-menu-2.w-nav-menu span >a {
    color: #000 !important;
}

@media(max-width:767px){
    .hideonmob{
        display:none !important;
    }
    .wrapper.navbar-2 {
  
        padding-bottom: 0;
    }
    .header_icon{
        display: none;
    }
    .w-nav-overlay .w--nav-menu-open {
        top: 0;
        overflow: hidden;
    }
    .nav-link.w--current {
        width: fit-content;
    }
    .burger-icon {
        color: #000;
        font-size: 40px;
        margin-left: -10px;
        margin-top: -10px;
    }
    .hero-image {
        max-width: 100%;
    }
    .contact-form-container {
        width: 70%;
        border-radius: 6px;
        margin: auto;
    }
    .side-image.map {
        width: 70%;
        margin: auto;
    }
}
@media only(min-width: 1000px){
.hideonmob{
    display: none;
}
}
@media (min-width: 1025px){
    .hideonpc{
        display:none !important;
    }
    .hero-content {
        width: 75%;
        font-size: 25px;
        text-align: left;
    }
    /* banner ovverride */

.hero-description {
    max-width: 700px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 0;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 400;
}
.value-proposition-buttons {
    margin-top: 24px;
    text-align: left;
}
}
@media (max-width: 991px){
    .hideonmob{
        display: none;
    }
}

.logo-area.hideonmob.logo-center {
    background: white;
    padding: 25px;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: -20px;
    /* border-style: solid; */
    /* border-width: 100px 100px 100px 100px; */
    /* border-color: #fff transparent transparent; */
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}
.nav-link {
    margin-right: 25px;
    margin-left: 25px;
}
.section-divider {
    position: static;
    width: auto;
    background-color: #186f95;
    text-align: left;
}
.team-detail-container {
    padding: 25px;
    padding-top: 0px;
}
.quote-container  {
    color: #fff;
    opacity: 0.8;
}

blockquote {
    font-weight: 100;
    font-size: 1rem;
    max-width: 600px;
    line-height: 1.4;
    position: relative;
    margin: 0;
    padding: .5rem;
    margin-top: 70px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
    content: '“';
    left: -2rem;
    top: -4rem;
    font-family: 'Special Elite', cursive;
}

blockquote:after {
    content: '”';
    right: -2rem;
    bottom: -1rem;
    font-family: 'Special Elite', cursive;
}

cite {
	line-height: 3;
    text-align: left;
    font-size: 14px;
    margin-left: 12px;
}
a.nav-link.w-nav-link.w--current {
    border: none;
}
.footer-sitemap-link .footer-link.ondark {
    color: #000;
    padding: 5px;
    /* text-transform: uppercase; */
}
.sitemap {
    background: #fff;
    padding: 20px;
}
.footer-sitemap-link{
    text-align: center;
}
.poster {
    /* background-color: #161616; */
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url(../images/jobs_s.png);
    background-repeat: no-repeat;
    /* background-position: 50%; */
    /* background-size: 1220px auto; */
    position: relative;
    background-size: cover;
    z-index: 1;
}
  .footer-quote {
    max-width: 350px;
    font-weight: normal;
    opacity: 0.8;
}
.txt-white {
    color: #fff;
}
.txt-upper {
    text-transform: uppercase;
}
.v-hide{
    visibility: hidden;
}
.footer-quote-block{
    margin-left: 30px;
}
p.quote-by.h4.txt-upper.txt-white {
    font-weight: bold;
}
.partner-logo {
    /* width: 100px; */
    width: auto;
    height: 140px;
    filter: grayscale(1);
}
.partner-logo:hover{
    filter:grayscale(0);
}

.margin-auto {
    margin: auto;
}
.section-title.fullwidth-grid.margin-bottom {
    font-size: 18px;
    width: 70%;
    font-weight: 400;
}


/* portfolio */

.gallery_product {
    position: relative;
    /* width: 90%; */
cursor: pointer;
margin: 0 auto;
margin-top: 20px;
}

.portfolio_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100%; */
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(12, 94, 121, 0.796);
    margin: 0 auto;
}

.gallery_product:hover .portfolio_overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border-radius: 8px;
    padding-top: 24px;
    border: 1px solid #888;
    width: fit-content;
    text-align: center;
    position: relative;
}
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 6px;
    right: 15px;
}
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  img#modalimg {
    padding: 15px;
    
}
.grid-ind{
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: end;
    -ms-flex-line-pack: end;
    align-content: end;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

}
@media(max-width: 768px){
    .grid-mob{
        -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: end;
    -ms-flex-line-pack: end;
    align-content: end;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    }
}